<template id="list-view-catechumens-of-steps-template">
	<div class="catequizando-item">
		<div class="catequizando-header">
			<span class="catequizando-name"></span>
			<span class="catequizando-dob"></span>
		</div>
		<div class="progress-container">
			<div class="progress-label"><span>Presença Atual</span><strong></strong></div>
			<div class="progress-bar"><div class="progress-fill bg-green"></div></div>
		</div>
		<div class="progress-container">
			<div class="progress-label"><span>Presença Total Ano</span><strong></strong></div>
			<div class="progress-bar"><div class="progress-fill bg-orange"></div></div>
		</div>
	</div>
</template>