<template id="card-view-catechumens-template">
	<div id="modalViewCatechumens" class="modal-overlay">
		<div class="modal-content" style="max-width: 650px;">
			<div class="modal-header">
				<h3 id="view-turma-title">Catequizandos</h3>
			</div>
			<div id="lista-alunos-modal">
				<!-- Lista de alunos aqui -->
			</div>
			<div class="modal-footer" style="grid-template-columns: 1fr;">
				<button class="btn btn-cancel" onclick="closeModal('modalViewCatequizandos')">FECHAR</button>
			</div>
		</div>
	</div>
</template>