<template id="card-catechumens-template">
	<div id="card" class="card-catechumen">
		<div class="catequizando-header">
			<span class="catechumen-firstName"></span>
			<span class="catechument-birthDate"></span>
		</div>
		<div class="progress-container">
			<div class="progress-label progress-label-actual"><span>Presença Atual</span><strong class="presence-actual"></strong></div>
			<div class="progress-bar"><div class="progress-fill bg-green"></div></div>
		</div>
		<div class="progress-container">
			<div class="progress-label progress-label-total"><span>Presença Total Ano</span><strong class="presence-total"></strong></div>
			<div class="progress-bar"><div class="progress-fill bg-orange"></div></div>
		</div>
	</div>
</template>